body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://source.unsplash.com/random/1920x1080');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 8px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.table-responsive {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #007bff;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f1f1f1;
}

.btn {
  border-radius: 4px;
  padding: 6px 12px;
  margin-right: 10px; /* Adds space between buttons */
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  color: #777;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
  width: 150px;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 90px; /* Ensures the button width matches the input fields */
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
  }
}
